body {
    font: 18px Cambria, "Hoefler Text", serif;
    background-image: url('object.jpeg');
    background-repeat: repeat;      /* repeats horizontally & vertically */
    background-size: 100px 100px;
    background-position: top left;  /* starting position */
}
header{padding: 10px 5px; background-color: orange;width: 100%;}
footer{text-align: center;position:fixed;left:0;bottom: 0;
width: 100%;background-color: orange;font-weight: bold;height: 50px;}
h1{text-align: center;font-size: 40px;font-weight: bolder;}
nav{float: left;}
aside{float: right;}
nav{width: 220px;height: 420px;background-color: pink;}
aside{width: 180px;height: 420px;background-color: pink;}
main{position:absolute;left: 290px;top:127px;width: 800px; height: 420px;}
nav,main,aside{border:2px dotted red;border-radius: 10px;box-shadow: 5px 7px gray; margin: 5px;padding: 8px;}
iframe{position: relative;left: 25px;top: 20px;width: 750px;height: 375px;background: #d8a7ca;border-radius: 10px;}
img{position: relative;left: 2px;top: 40px;width: 180px;height: 40%; border-radius: 20px;}
ul{list-style: none; line-height: 40px;padding: 5px;font-size: 20px;font-weight: bold;}
a{text-decoration: none;color: red;}
